<html>
<head>
    <meta charset="utf-8">
    <title>Create</title>
    <style>
        #code_snippet {
        width: 600px;
        height: 100px;
        padding: 10px;
        border: 4px solid black;
        margin: 10px;
        }


    </style>
    <script>
        function send() {
    let object = {
        "code": document.getElementById("code_snippet").value,
        "time": document.getElementById("time_restriction").value,
        "views": document.getElementById("views_restriction").value
    };

    let json = JSON.stringify(object);

    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/api/code/new', false)
    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    xhr.send(json);

    if (xhr.status == 200) {
      alert("Success!");
    }
}

    </script>
</head>
<body>
<div>
    <textarea id="code_snippet"></textarea>
    <br> Time restriction: <input id="time_restriction" type="text" value="-10"/>
    <br>
    <br> Views restriction: <input id="views_restriction" type="text" value="-10"/>
</div>
<button style="margin: 10px;" id="send_snippet" type="submit" onclick="send()">Submit</button>
</body>
</html>